.button {
    font: inherit;
    font-size: large;
    cursor: pointer;
    padding: 1rem 2rem;
    border: 1px solid #0D21A1;
    background-color: #0D21A1;
    color: white;
    border-radius: 12px;
    margin-right: 1rem;
  }